<?xml version="1.0" encoding="UTF-8"?>

<beans default-init-method="init"

       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util
        https://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="musicPlayer.properties"/>
    <context:component-scan base-package="org.example.springApp"/>

<!--Создание бинов вручную-->

<!--    <bean id="musicClassic"-->
<!--          class="org.example.springApp.ClassicalMusic"-->
<!--          init-method="init"-->
<!--          destroy-method="destroy"-->
<!--          scope="prototype"-->
<!--          factory-method="getClassicFactory">-->
<!--        <property name="song"-->
<!--                  value="${classicMusic.song}"/>-->
<!--    </bean>-->

<!--    <bean id="musicRock"-->
<!--          class="org.example.springApp.RockMusic"-->
<!--          scope="prototype"/>-->

<!--    <bean id="musicRap"-->
<!--          class="org.example.springApp.RapMusic"-->
<!--          scope="prototype"/>-->

<!--    <util:list id="listBean"-->
<!--               value-type="org.example.springApp.Music">-->
<!--        <ref bean="musicClassic"/>-->
<!--        <ref bean="musicRock"/>-->
<!--        <ref bean="musicRap"/>-->
<!--    </util:list>-->

<!--    <bean id="musicPlayer"-->
<!--          class="org.example.springApp.MusicPlayer"-->
<!--          scope="prototype">-->
<!--        <property name="musicList"-->
<!--                  ref="listBean"/>-->
<!--        <property name="name"-->
<!--                  value="${musicPlayer.name}"/>-->
<!--        <property name="volume"-->
<!--                  value="${musicPlayer.volume}"/>-->
<!--    </bean>-->

</beans>